version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    target-branch: main
    schedule:
      interval: weekly
    groups:
      gh-actions:
        patterns:
          - "*"
  - package-ecosystem: npm
    directory: /
    target-branch: main
    schedule:
      interval: weekly
    groups:
      dependencies:
        dependency-type: production
        update-types:
          - minor
          - patch
      dev-dependencies:
        dependency-type: development
        update-types:
          - minor
          - patch
